.App {
  box-sizing: border-box; 
}

.row {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 288px;
  height: 280px;
  margin: 12px;

  border-radius: 5px;
  box-shadow: 0 2px 2px rgb(190, 190, 190);
  overflow: hidden;
  
  background-color: white;
  transition: all .2s ease;
}

.box:hover, .selected {
  /* filter: brightness(1.05); */
  box-shadow: 0 10px 10px rgb(190, 190, 190);
}

.box-top {
  height: 164px;
  position: relative;
  object-fit: contain;
}

.overlay {
  width: 112px;
  height: 100%;

  position: absolute;
  right: 0;
  z-index: 1;
  
  background-color: rgba(0, 12, 40, 0.55);
}

.overlay-text {
  align-self: center;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  
  display: block;
  
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

.overlay-text h1 {
  font-size: 24px;
  font-weight: 300;
  display: block;
  margin: 0;
}

.overlay-text span {
  display: block;
}

.box-top img {
  width: 288px;
}

.box-bottom {
  background-color: white;
  position: relative;
}

.box-bottom span {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.box-bottom-mid {
  padding: 15px 15px 15px 15px;
  position: relative;
}

.box-bottom-inner {
  position: relative;
}

.box-bottom-left {
  width: 80%;
  height: 86px;
  position: relative;
}

.avatar {
  width: 28px;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#tiny-text {
  font-size: 10px;
  margin-left: 4px;
  margin-right: 8px;
}

.icon {
  height: 12px;
  position: relative;
  top: 2px;
}

.icon-playlist {
  height: 24px;
  margin-top: 12px;
}


.title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.view-details-link {
  font-size: 14px !important;
  color: #0069D2;
  position: absolute;
  bottom: 0;
}

@media screen and ( min-width: 1500px ) {
  .row {
    width: 1400px;
  }
}
